<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
<style type="text/css">
body { background-color: #ecf9f9;
       background-image: url("/assets/back.png");
       font-family: Futura, Segoe UI, Helvetica;
       color: #888888;}
p {
    font-family: Futura, Segoe UI, Helvetica;
    color: #888888;
    text-align: left;
    padding-left: 35px;
    font-size: 14px;
}
h1 {background-image: url("/assets/back.png");
padding-right: px;}
help {background-image: url("/assets/back.png");
padding-left:50px; top:7px;}
subtext {
    font-family: Futura, Segoe UI, Helvetica;
    color: #888888;
    text-align: left;
    font-size: 10px;
}
</style>
  <body>
    <h1>
    <%= form_tag("/pages/help", :method => "get") do %>
       <img src="/assets/logo.png"/>
     <help title = "Help">
       <%= image_submit_tag("help.png") %>
     </help>
      <% end %>
    </h1>
    <div class="container">
      <%= form_tag("/pages/result", :method => "get") do %>
		<% if @error%>
		  <div class="alert alert-error">
		    <%= @error %>.
		  </div> 
		<% end %>
		</br>
		<h5><b>Is your apartment worth it?</b></h5></br>
        <p>ADDRESS OR MINUTES</br>
        <subtext>Apartment address or minutes walking from campus</subtext></p>
        <%= text_field_tag(:address, nil, :required => true) %>
        </br></br>
        <p>BEDROOMS</p>
        <%= select_tag :bedrooms, "<option>Studio</option><option>1</option><option>2</option><option>3</option><option>4</option>".html_safe, :multiple => false%>
        </br></br>
        <p>TOTAL RENT (optional)</p>
        <%= number_field_tag(:price, nil, :min => 0)%>
        </br>
        </br>
        <%= image_submit_tag("button.png") %>
    </div>
    <% end %>
  </body>
</html>