<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
		var geocoder;
		var map
	      function initialize() {
		geocoder = new google.maps.Geocoder();
	          var mapOptions = {
	            zoom: 14,
	            center: new google.maps.LatLng(42.06, -87.68), 
	            mapTypeId: google.maps.MapTypeId.ROADMAP
	          };
	          map = new google.maps.Map(document.getElementById("recMap"),mapOptions);
			codeAddress()
	      }


		function codeAddress() {
		<% 
	$i=0

@recommendations.each do |listing| 


if $i > 10 then
      break
   end
$i +=1;
%>
var address = '<%=listing.address%>,Evanston,60201';
geocoder.geocode( { 'address': address}, function(results, status) {
  if (status == google.maps.GeocoderStatus.OK) {
    map.setCenter(results[0].geometry.location);
    var marker<%=$i%> = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
    });
 var iw<%=$i%> = new google.maps.InfoWindow({
   content: '<%=listing.address%>'
 });
google.maps.event.addListener(marker<%=$i%>, 'click', function() {
    iw<%=$i%>.open(map, marker<%=$i%>);
});
  } else {
    alert("Geocode was not successful for the following reason: " + status);
  }
});

	 <% end %>
  }
      function toggleShow() {
      	$('#show').toggle();
      	
		$('#HideBtn').toggle();
		$('#ShowBtn').toggle();
      }
      function toggleView() {
      	$('#recTable').toggle();
      	$('#recMap').toggle();
      	
		$('#MapBtn').toggle();
		$('#TableBtn').toggle();
      }
    </script>
	<style type="text/css">
			#recMap img{max-width:none}
		body { background-color: #ecf9f9;
		       background-image: url("/assets/back.png");
		       font-family: Futura, Segoe UI, Helvetica;
		       color: #888888;
		   	   height:100%;
		   	}
		p {
		    font-family: Futura, Segoe UI, Helvetica;
		    color: #888888;
		    text-align: left;
		    padding-left: 40px;
		}
		a:hover
		{ 
		background-color:transparent;
		}
		h1 {background-image: url("/assets/back.png");
		padding-right: 100px;}
		tr.even {background-color: #efefef;}
		.addr{text-align: left;}
		#recMap {
	        margin-left: 10px;
	        height: 360px;
	        width:280px;

			display:none;
		}
		#recTable {
			height:360px;
			overflow:scroll;
			overflow-y: scroll;
		 	overflow-x:hidden;
		}
		button {
			width:270px;
		}
		#MapBtn{
			display:none;
		}
		#HideBtn{
			display:none;
		}
		#ShowBtn{
			
		}
		#show{
			display:none;
		}
		html {
			height:100%;
		}
	</style>
  </head>
  <body onload="initialize()">
    <h1>
	<a href = "home.html"><img src="/assets/logo.png" /></a>
    </h1>
    <div class="container">
      <%if @results[:worthit] != 0
      		if @results[:worthit] == 1 %>
	    		<div class="alert alert-error">
	      			<h3>Not worth it!</h3>
	      		</div>  		
	      <%end
			if @results[:worthit] == 2  %>
	      		<div class="alert alert-success">
	      			<h3>Worth it!</h3>
	      		</div>
	      <%end
			if @results[:worthit] == 3 %> 
			<div class="alert alert-success">
    			<h4>Great deal!</h4>
    		</div>
	      	<%end
		end
        provide(:lowerPrice, String(number_with_precision(@results[:range] * 0.9, :precision => 0)))
        provide(:higherPrice, String(number_with_precision(@results[:range] * 1.1, :precision => 0)))
        provide(:duration, @results[:minutes])
        %>
        <br/>
		<%=@results[:explainText1]%></br><%=@results[:explainText2]%>
        <h2>$<%= yield(:lowerPrice) %> - $<%= yield(:higherPrice) %></h2>
        <br/>
		<img src="/assets/button.png" id="HideBtn" onClick="toggleShow()"></img>
		<img src="/assets/button.png" id="ShowBtn" onClick="toggleShow()"></img>
		</br>
		<br/>
		<div id="show">
		<button class="btn" id="MapBtn" onClick="toggleView()">Map</button>
		<button class="btn" id="TableBtn" onClick="toggleView()">Table</button>
		<br/><br/>

		
		<div id="recMap"></div>

		<div id="recTable">
			<table class = "table table-striped sortable" data-provides="rowlink">
				<tr>
						<td><b>Address</b></td>
						<td><b>Mins</b></td>
						<td><b>BRs</b></td>
						<td><b>Price</b></td></tr>
				<% @recommendations.each do |listing| %>
		        <td><a href = "http://maps.google.com/?q=<%=listing.address%>,Evanston,60201"><%@a = listing.address.split(' ')
				   @address = @a.at(0) +" "+ @a.at(1)%>
				<%=@address%></a></td>
		        <td><%= listing.minutes %></td>
		        <td><% if listing.bedrooms == 0.5%>
			 				Stu <%
						else%>
							<%=listing.bedrooms.to_i%>

						<%end%></td>
		        <td><%= listing.price %></td>
		      </tr>
		      <% end %>
		</table>
		</div>
       
      </br>
    </div>
    <a href = "home.html"><img src="/assets/backbutton.png" /></a>
    <br/><br/>
</div>
 </br>
    
  </body>
</html>
