<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
<style type="text/css">
body { background-color: #ecf9f9;
       background-image: url("/assets/back.png");
       font-family: Futura, Segoe UI, Helvetica;
       color: #888888;}
p {
    font-family: Futura, Segoe UI, Helvetica;
    color: #888888;
    text-align: left;
    padding-left: 40px;
}
h1 {background-image: url("/assets/back.png");
padding-right: 100px;}
tr.even {background-color: #efefef;}
.addr{text-align: left;}
</style>
  <body>
    <h1>
       <img src="/assets/logo.png"/>
    </h1>
    <div class="container">
      <%if @results[:worthit] != 0
      		if @results[:worthit] == 1 %>
	    		<div class="alert alert-error">
	      			<strong>Not worth it!</strong>
	      		</div>  		
	      <%end
			if @results[:worthit] == 2  %>
	      		<div class="alert alert-success">
	      			<strong>Worth it!</strong>
	      		</div>
	      <%end
			if @results[:worthit] == 3 %> 
			<div class="alert alert-success">
    			<strong>Great deal!</strong>
    		</div>
	      	<%end
		end
        provide(:lowerPrice, String(number_with_precision(@results[:range] * 0.9, :precision => 0)))
        provide(:higherPrice, String(number_with_precision(@results[:range] * 1.1, :precision => 0)))
        provide(:duration, @results[:minutes])
        %>
        <br/>
		<%=@results[:explainText1]%></br><%=@results[:explainText2]%>
        <h2>$<%= yield(:lowerPrice) %> - $<%= yield(:higherPrice) %></h2>
        <br/>

		<h5>Similar apartments</h5>
		<table class = "table table-striped sortable" data-provides="rowlink">
			<tr>
					<td><b>Address</b></td>
					<td><b>Distance</b></td>
					<td><b>BRs</b></td>
					<td><b>Price</b></td></tr>
			<% @recommendations.each do |listing| %>
		        <td><a href = "http://maps.google.com/?q=https://maps.google.com/maps?saddr=Northwestern+University,+Sheridan+Road,+Evanston,+IL&daddr=<%=listing.address%>&hl=en&ll=42.044958,-87.682142&spn=0.019568,0.035105&sll=42.047381,-87.671928&sspn=0.039135,0.07021&geocode=FXqogQIdfhbG-iHekF_UWKCRiilvBmdOn9oPiDHekF_UWKCRig%3BFcOUgQIdSv_F-ilLgLqOD9APiDFEXwhtujlA1Q&oq=Northwestern+University%3B+Sheridan+Road,+Evanston,+IL&dirflg=w&mra=ls&t=m&z=15"><%@a = listing.address.split(' ')
				   @address = @a.at(0) +" "+ @a.at(1)%>
				<%=@address%></a></td>
		        <td><%= listing.minutes %></td>
		        <td><% if listing.bedrooms == 0.5%>
			 				Stu <%
						else%>
							<%=listing.bedrooms.to_i%>

						<%end%></td>
		        <td><%= listing.price %></td>
		      </tr>
		      <% end %>
		</table>
        </br>
        <a href = "home.html"><img src="/assets/backbutton.png" /></a>
      </br></br>
    </div>
  </body>
</html>
